* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

}

html {
    font-size: 1em;
}


header { grid-area: header; }
aside { grid-area: aside; }
main { grid-area: main; }
footer { grid-area: footer; }

.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid: "header" auto 
        "aside" 1fr 
        "main" 1fr 
        "footer" auto / 1fr;
}

.container > * {
    width: 100%;
    padding: 16px;
    align-items: center;
}
@media all and (min-width: 758px) {

    .container {
        width: 100%;
        min-height: 100vh;
        grid: "header header" auto
              "aside main" 1fr
              "aside footer" auto / 2fr 10fr;

    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
}

/* Font */
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4em;
}
/* Header inicio */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header {
    background-color: #F28322;
}
header p {
    text-align: center;
    margin-top: 5px;
    font-size: 1em;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* header {
    --color: #c09bd8;
    background-color: #9f84bd;
    width: 100%;
    height: 100%;
    position: relative;
}
*/

/* aside */
aside h1 {
    text-align: center;
    font-size: 1.6;
}
aside {
    background-color:#F2F2F2;
    margin-top: 30px;
    width: 100%;
    margin-left: 5px;
}

ul li{
    list-style: none;
    background-color:#F68C3F;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 9px;
    font-size: 1.3em;
}

aside ul {
    margin-top: 20px;
}
aside ul li a {
    text-decoration: none;
    color: black;
}

aside ul li a:hover {
    color:#F2F2F2 ;
    font-size: 1.5em;
}

/* main */
main h1 {
    font-size: 1.6em;
    text-align: center;
    margin-top: 10px;
}
.main {
   /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em; */
    width: 100%;
}

main ul li a {
    text-decoration: none;
    color: black;
}
.menurede {
    background-color:#F2F2F2;
    padding: 14px;
    width: 100%;
}
.menurede img {
  /* margin: 10px;*/
    width: 100%;
    margin-top: 4px;
}
main ul li i {
    font-size: 1.3em;
}
main ul li a:hover {
    color:#F2F2F2;
    font-size: 1.5em;
}
div .historia p {
    margin-top: 16px;
    font-size: 1.3em;
    margin-left: 10px;
    margin-right: 5px;
}
.historia img {
   /* margin-top: 36px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; 
    */
    width: 100%;
    margin-top:5px ;
}
.historia {
    background-color:#F2F2F2 ;
    padding: 16px;
    width: 100%;
}
/*rodape */
footer p {
    text-align: center;
}

@media all and (max-width: 758px) {

    .container {
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid: "header" 1fr
            "aside" 
            "main"
            "footer";
    }
    aside img {
        display: block;
        width: 100%;
    }
    aside {
        margin-top: 0px ;
    }
    .menurede img {
        width: 100%;
    }
    .historia img {
        width: 100%;
    }
    
    
}
