* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

}

.contato ul li {
    font-size: 2em;
}
.contato h1 {
    font-size: 2.5em;
}
header p {
    padding-bottom: 15px;
}

.imagens {
    display: flex;
    justify-content: space-evenly;
}
img {
    border-radius: 8px;
}
.cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.informacao h2 {
    text-align: center;
}
.informacao img {
    margin-top: 10px;
    margin-left: 20px;
}
.vet img {
    margin-top: 10px;
}
.vet p {
    font-size: 1.1em;
    text-align: center;
    margin-top: 5px;
}
.banho img {
    margin-top: 10px;
}
.banho p {
    font-size: 1.1em;
    text-align: center;
    margin-top: 5px;
}
.informacao p {
    font-size: 1.1em;
    text-align: center;
    margin-top: 5px;
}
.produtos img {
    margin-top: 10px;
}
.produtos p {
    font-size: 1.1em;
    text-align: center;
    margin-top: 5px;
}
.cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}
.cards div {
    margin: 10px;
}
.title {
    font-size: 2em;
}
.banho {
    text-align: center;
}
.vet {
    text-align: center;
}
.produtos {
    text-align: center;
}
main h2 {
    font-size: 1.7em;
}
.endereco {
    display: flex;
    justify-content: space-around;
}
.endereco p {
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 8px;
}
.endereco div {

    border-radius: 8px;
    padding: 8px;
    text-align: center;
    margin-bottom: 10px;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header {
    background-color: #F28322;
    width: 100%;
}
header p {
    text-align: center;
    margin-top: 5px;
    font-size: 1em;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul li{
    list-style: none;
    background-color:#F68C3F;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 9px;
    font-size: 1.3em;
}

ul li a {
    text-decoration: none;
    color: #F2F2F2 ;
}

h1 {
    text-align: center;
    margin-top: 8px;
}

@media all and (max-width: 758px) {

    .container {
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid: "header" 1fr
            "aside" 
            "main"
            "footer";
    }
    img {
        width: 100%;
    }
    header {
        width: 100%;
    }
    .imagens {
        display: flex;
        flex-wrap: wrap;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
    }
    .endereco {
        display: flex;
        flex-wrap: wrap;
    }

}

@media all and (min-width: 758px) {
    header {
        width: 100%;
    }
    .logo {
        width: 100%;
    }
    .contato {
        width: 100%;
    }
}